.bk-hide
  display none !important

.bk-container
  position relative

.bk-wysiwyg-placeholder
  position absolute
  pointer-events none
  display none
  top 10px
  left 10px
  right 10px
  bottom 10px
  color #999

.bk-wysiwyg:empty + .bk-wysiwyg-placeholder
  display block

.bk-prompt
  position fixed
  top 20%
  left 2%
  right 2%
  background-color #dedede
  padding 10px
  margin 0 auto
  max-width 450px

.bk-prompt-buttons
  text-align center
  margin-top 20px

.bk-prompt-cancel
  margin-right 10px
  cursor pointer
